{% extends 'app/main.html' %}
{% load static %}

{% block content %}

<!-- Dark Table -->
<div class="row m-3">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Customers</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody class="list">

                {% for customer in customers %}
                <tr>
                    <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="name mb-0 text-sm">{{customer.name}}</span>
                            </div>
                          </div>
                        </th>
                        <td class="budget">
                            {{customer.email}}
                        </td>
                        
                        <td><i class="fas fa-phone-alt text-success mr-3"></i>{{customer.phone}}</td>
                        <td><a class="btn btn-sm btn-info" href="#">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="#">Detele</a></td>
                        <td class="text-left">
                          <a class="btn btn-sm btn-icon-only text-light" href="{% url 'customer' customer.id %}" role="button" >
                              <i class="fas fa-ellipsis-v"></i>
                          </a>
                        </td>
                      </tr>
                </tr>      
                {% endfor %}

              
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



{% endblock %}