{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row mx-9">
    <div class="col-md-12 text-center">
        <div class="card card-body">
            <p>Are you sure you want to delete "{{appointment}}"?</p>

            <form method="POST" action="{% url 'delete_appmt' appointment.id %}">
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'appointments' %}">Cancel</a> <!--cancel the delete-->
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>

        </div> 
    </div>
</div>



{% endblock %}