{% extends 'app/authMain.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary border-0">
        
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h2 class='display-2'>Sign up for free account</h2>
          </div>
          <div class="text-center text-muted mb-4">
              <h3 class="dislay-3">Select below the type of account you want to create</h4>
          </div>
          <div class="text-center">
            <a class="btn btn-info" href="{% url 'registerCustomer' %}">Customer</a>
            <a class="btn btn-danger" href="{% url 'registerStaff' %}">Staff</a>
          </div>
        </div>               
      </div>
    </div>
  </div>
{% endblock content %}
    

