{% extends 'app/main.html' %}
{% load static %}

{% block content %}


<div class="card m-7">
  <div class="card-header">
    <h4 class="ml-8">Schedule Appointment</h4>
  </div>
  <div class="card-body">
    <div class="row mx-7">

      <div class="col-lg-10 m-5">
          <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            
            <input class="btn btn-primary mt-3" type="submit" name="submit">
          </form>
          
      </div>
  
      
      
  </div>
  </div>
  
</div>





  
{% endblock %}